<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.jashan.child_control_app">

    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.READ_CALL_LOG" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.PACKAGE_USAGE_STATS" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.ChildControlApp">
        <activity android:name=".activities.parent.ChildDetailsActivity"></activity>
        <activity android:name=".activities.parent.ScreenShotActivity" />
        <activity android:name=".activities.parent.AppUsageActivity" />
        <activity android:name=".activities.parent.LocationActivity" />
        <activity android:name=".activities.parent.CallLogsActivity" />
        <activity android:name=".activities.SplashScreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activities.parent.Screenshot"
            android:parentActivityName=".activities.parent.ParentHomepage"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />
        <activity android:name=".activities.parent.ParentHomepage" />
        <activity android:name=".activities.child.ChildHomepage" />
        <activity android:name=".activities.authentication.Register" />
        <activity android:name=".activities.authentication.Login" />
        <activity android:name=".activities.StartUp" />

        <service
            android:name=".repository.FirebaseMessagingService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service> <!-- <service> -->
        <!-- android:name = -->
        <!-- android:foregroundServiceType="mediaProjection" -->
        <!-- </service> -->
        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>